* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

:focus {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

.App {
  margin: 2rem auto;
}

.columns {
  display: flex;
  flex-wrap: wrap;
}

.column {
  width: 100%;
  margin: 0;
  padding: 0.75rem;
}

@media (min-width: 768px) {
  .App {
    margin: 2rem auto;
  }
  .column {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .App {
    margin: 2rem auto;
    max-width: 1000px;
  }
  .column {
    width: 33.333%;
  }
}

@media (min-width: 1400px) {
  .App {
    margin: 2rem auto;
    max-width: 1300px;
  }
  .column {
    width: 25%;
  }
}

.icon {
  margin: 0;
  padding: 0;
  width: 2rem;
  height: 1.6rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}

.icon:hover {
  background: rgba(0, 0, 0, 0.2);
}

.icon i {
  cursor: pointer;
}

.card {
  border: 1px solid darkgrey;
  border-radius: 0.5rem;
  width: 100%;
  box-shadow: -1px 3px 16px 2px rgba(0, 0, 0, 0.1);
}

.card-header {
  border-bottom: 1px solid darkgrey;
  padding: 0 0.3rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}

.card-title {
  display: block;
  margin: 0;
  padding: 0.4rem;
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: auto;
  width: 100%;
}

.card-title.selected {
  font-style: italic;
}

.card-body {
  padding: 0.5rem;
}

.card-task {
  display: flex;
  align-items: center;
}

.card-task-text {
  margin: 0 auto 0 0;
  width: 100%;
}

.card-task-text.selected {
  box-shadow: 0 2px 1px -2px gray;
}

.checked {
  color: DimGray;
  text-decoration: line-through;
}

.add-task {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
}

.add-task button {
  width: 100%;
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.3rem;
  cursor: pointer;
  color: black;
  background: transparent;
}

.add-task button:hover {
  color: white;
  background: black;
  transition: all 0.2s ease-in-out;
}

.color-pick {
  position: relative;
}
.color-pick > .color-picker {
  display: none;
  position: absolute;
  top: 120%;
  right: 0;
  border: 1px solid darkgrey;
  padding: 0.2rem;
  border-radius: 0.5rem;
  box-shadow: -1px 3px 16px 2px rgba(0, 0, 0, 0.1);
}

.color-pick.active > .color-picker {
  display: block;
}

.color-picker-container {
  display: flex;
}

.color-pick-icon-container {
  margin: 0;
  padding: 0;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.1s ease-in-out;
}

.color-pick-icon-container:hover {
  background: rgba(0, 0, 0, 0.2);
}

.color-pick-icon {
  width: 1rem;
  height: 1rem;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
}

.add-card-btn {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
}
