* {
  box-sizing: border-box;
}

:focus {
  outline: none;
}

html,
body {
  margin: 0;
  padding: 0;
}

.App {
  margin: 2rem 10rem;
  display: flex;
}

.card {
  border: 1px solid darkgrey;
  border-radius: 0.5rem;
  width: 30%;
  box-shadow: -1px 3px 16px 2px rgba(0, 0, 0, 0.1);
}

.card-header {
  border-bottom: 1px solid darkgrey;
  padding: 0 0.3rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}

.card-title {
  display: block;
  margin: 0;
  padding: 0.4rem;
  font-size: 1.1rem;
  font-weight: bold;
  margin-right: auto;
  width: 100%;
}
.card-header i {
  padding: 0.4rem;
  cursor: pointer;
}

.card-body {
  padding: 0.5rem;
}

.card-task {
  display: flex;
  align-items: center;
}

.card-task i {
  padding: 0.4rem;
  cursor: pointer;
}

.card-task-text {
  margin: 0 auto 0 0;
  width: 100%;
}

.selected {
  box-shadow: 0 2px 1px -2px gray;
}

.checked {
  color: darkgrey;
  text-decoration: line-through;
}

.add-task {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0.5rem;
}

.add-task button {
  width: 100%;
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.3rem;
  cursor: pointer;
  color: black;
  background: transparent;
}

.add-task button:hover {
  color: white;
  background: black;
}
